*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 76px;
}

body{
    background-image: url(binary.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.submit{
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}